<footer class="footer">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a href="https://appseed.us/product/black-dashboard-pro/django/" target="_blank" class="nav-link">
          Download
        </a>
      </li>
      <li class="nav-item">
        <a href="https://appseed.us/product/black-dashboard/django/" target="_blank" class="nav-link">
          Free Version
        </a>
      </li>
      <li class="nav-item">
        <a href="https://appseed.us/support/" target="_blank" class="nav-link">
          Support
        </a>
      </li>
    </ul>
    <div class="copyright">
      <button class="btn btn-info" data-toggle="modal" data-target="#noticeModal">
        Help
      </button>
    </div>
  </div>
</footer>