{% extends "layouts/base.html" %}
{% load i18n admin_urls static admin_modify %}

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}


{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/forms.css" %}">
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                        <li class="breadcrumb-item">
                            <a href="{% url 'admin:index' %}">
                                <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                          <a href="{% url 'admin:app_list' opts.app_config.label %}">
                            {{ opts.app_config.verbose_name }}
                          </a>
                        </li>

                        {% if has_view_permission %}
                            <li class="breadcrumb-item"><a
                                    href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
                            </li>
                        {% else %}
                            <li class="breadcrumb-item">{{ opts.verbose_name_plural|capfirst }}</li>
                        {% endif %}

                        {% if add %}
                            <li class="breadcrumb-item">{% blocktrans with name=opts.verbose_name %}Add
                                {{ name }}{% endblocktrans %}</li>
                        {% else %}
                            <li class="breadcrumb-item">{{ original|truncatewords:"18" }}</li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
    {% endblock %}
{% endif %}

{% block content %}
<div class="content">
    <div class="py-4">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">
                    {% if add %}
                        {% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}
                    {% else %}
                        {{ original|truncatewords:"18" }}
                    {% endif %}
                </h1>
            </div>
            <div>
                {% block object-tools %}
                    {% if change %}{% if not is_popup %}
                        {% block object-tools-items %}
                            {% change_form_object_tools %}
                        {% endblock %}
                    {% endif %}{% endif %}
                {% endblock %}
            </div>
        </div>
    </div>


    {% if adminform.form.errors %}
        <div class="alert alert-danger">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span>
            <b> Error - </b>{{ adminform.form.errors }}</span>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}"
                        method="post" id="{{ opts.model_name }}_form" novalidate>

                        {% csrf_token %}



                        <div class="{{ direction.panel }}">{% block form_top %}{% endblock %}</div>
                        <div>

                        <div class="row mb-2">
                            <label class="col-md-3 col-form-label">{{ adminform.form.job_template.label }}</label>
                            <div class="col-md-9">
                                <div class="form-group">
                                {{ adminform.form.job_template }}
                            </div>
                            </div>
                        </div>
                            
                        <div class="row">
                            <label class="col-md-3 col-form-label">{{ adminform.form.title.label }}</label>
                            <div class="col-md-9">
                                <div class="form-group">
                                {{ adminform.form.title }}
                            </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-3 col-form-label">{{ adminform.form.employment_type.label }}</label>
                            <div class="col-md-9">
                                <div class="form-group">
                                {{ adminform.form.employment_type }}
                            </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-3 col-form-label">{{ adminform.form.approved_salary_range_minimum.label }}</label>
                            <div class="col-md-9">
                                <div class="form-group">
                                {{ adminform.form.approved_salary_range_minimum }}
                            </div>
                            {{ adminform.form.approved_salary_range_minimum.errors }}

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-3 col-form-label">{{ adminform.form.approved_salary_range_maximum.label }}</label>
                            <div class="col-md-9">
                                <div class="form-group">
                                {{ adminform.form.approved_salary_range_maximum }}
                            </div>
                            {{ adminform.form.approved_salary_range_maximum.errors }}
                            </div>
                        </div>

                        <div class="row ml-2">
                                <div class="bootstrap-switch-container" style="width: 125px;">
                                    <p class="category">{{ adminform.form.canned_languages.label }}</p>
                                    <input type="checkbox" id="id_canned_languages" checked="" name="canned_languages" class="bootstrap-switch" data-on-label="<i class='tim-icons icon-check-2'></i>" data-off-label="<i class='tim-icons icon-simple-remove'></i>">
                                </div>

                                <div class="bootstrap-switch-container" style="width: 125px;">
                                    <p class="category">{{ adminform.form.canned_citizen.label }}</p>
                                    <input type="checkbox" id="id_canned_citizen" checked="" name="canned_citizen" class="bootstrap-switch" data-on-label="<i class='tim-icons icon-check-2'></i>" data-off-label="<i class='tim-icons icon-simple-remove'></i>">
                                </div>

                                <div class="bootstrap-switch-container" style="width: 125px;">
                                    <p class="category">{{ adminform.form.canned_education.label }}</p>
                                    <input type="checkbox" id="id_canned_education" checked="" name="canned_education" class="bootstrap-switch" data-on-label="<i class='tim-icons icon-check-2'></i>" data-off-label="<i class='tim-icons icon-simple-remove'></i>">
                                </div>


                            <div class="bootstrap-switch-container" style="width: 125px;">
                                <p class="category">{{ adminform.form.canned_college.label }}</p>
                                <input type="checkbox" id="id_canned_college" checked="" name="canned_college" class="bootstrap-switch" data-on-label="<i class='tim-icons icon-check-2'></i>" data-off-label="<i class='tim-icons icon-simple-remove'></i>">
                            </div>


                            <div class="bootstrap-switch-container" style="width: 125px;">
                                <p class="category">{{ adminform.form.canned_over18.label }}</p>
                                <input type="checkbox" id="id_canned_over18" checked="" name="canned_over18" class="bootstrap-switch" data-on-label="<i class='tim-icons icon-check-2'></i>" data-off-label="<i class='tim-icons icon-simple-remove'></i>">
                            </div>


                            <div class="bootstrap-switch-container" style="width: 125px;">
                                <p class="category">{{ adminform.form.canned_felony.label }}</p>
                                <input type="checkbox" id="id_canned_felony" checked="" name="canned_felony" class="bootstrap-switch" data-on-label="<i class='tim-icons icon-check-2'></i>" data-off-label="<i class='tim-icons icon-simple-remove'></i>">
                            </div>
                        </div>


                            
                            {% block after_field_sets %}{% endblock %}

                            {% block inline_field_sets %}
                                {% for inline_admin_formset in inline_admin_formsets %}
                                    {% include inline_admin_formset.opts.template %}
                                {% endfor %}
                            {% endblock %}

                            {% block after_related_objects %}{% endblock %}

                            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

                            {% block admin_change_form_document_ready %}
                                <script type="text/javascript"
                                        id="django-admin-form-add-constants"
                                        src="{% static 'admin/js/change_form.js' %}"
                                        {% if adminform and add %}
                                        data-model-name="{{ opts.model_name }}"
                                        {% endif %}>
                                </script>
                            {% endblock %}

                            {% prepopulated_fields_js %}

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            // Function to update related fields based on the selected job template
            function updateRelatedFields() {
                var selectedTemplateId = $("#id_job_template").val();
                $.ajax({
                    url: '{% url 'admin:get_template_data' %}',  // Replace with your actual URL
                    type: 'GET',
                    data: {'template_id': selectedTemplateId},
                    dataType: 'json',
                    success: function(data) {
                        var jobRelatedData = {
                            'title': data.title,
                            'description': data.description,
                            'job_id': data.job_id,
                            'employment_type': data.employment_type,
                            'minimum_experience': data.minimum_experience,
                            'confidential': data.confidential,
                            'private': data.private,
                            'canned_address': data.canned_address,
                            'canned_cover_letter': data.canned_cover_letter,
                            'canned_references': data.canned_references,
                            'canned_wmyu': data.canned_wmyu,
                            'canned_linked_in': data.canned_linked_in,
                            'canned_website': data.canned_website,
                            'canned_twitter_username': data.canned_twitter_username,
                            'canned_start': data.canned_start,
                            'canned_weekends': data.canned_weekends,
                            'canned_evenings': data.canned_evenings,
                            'canned_overtime': data.canned_overtime,
                            'canned_languages': data.canned_languages,
                            'canned_salary': data.canned_salary,
                            'canned_referral': data.canned_referral,
                            'canned_license': data.canned_license,
                            'canned_cdl': data.canned_cdl,
                            'canned_relocate': data.canned_relocate,
                            'canned_citizen': data.canned_citizen,
                            'canned_education': data.canned_education,
                            'canned_college': data.canned_college,
                            'canned_over18': data.canned_over18,
                            'canned_flighthours': data.canned_flighthours,
                            'canned_flightgrade': data.canned_flightgrade,
                            'canned_felony': data.canned_felony,
                            'canned_felonyexplain': data.canned_felonyexplain,
                            'approved_salary_range_minimum': data.approved_salary_range_minimum,
                            'approved_salary_range_maximum': data.approved_salary_range_maximum,
                            'department': data.department,
                            'state': data.state,
                            'city': data.city,
                            'postal_code': data.postal_code,
                            'internal_job_code': data.internal_job_code,
                            'eeo_1_job_category': data.eeo_1_job_category,
                            'syndication': data.syndication,
                            'open_date': data.open_date
                        };
                        // Update the values of related fields
                        $.each(jobRelatedData, function(field, value) {
                            $("#id_" + field).val(value);
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error('Error fetching template data:', status, error);
                    }
                });
            }
            // Attach the updateRelatedFields function to the change event of the job template field
            $("#id_job_template").change(updateRelatedFields);
        });
    </script>
{% endblock %}